.content {
  font-family: "Helvetica Neue";
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.title {
  font-weight: bold;
  color: rgb(34, 56, 87);
}

.symbol {
  -webkit-text-stroke: 5px white;
  font-size: 150px;
  color: #37b20a;
}

.text {
  margin-top: 15px;
  font-size: 25px;
  color: rgb(34, 56, 87);
  text-align: center;
  font-family: "avenir";
  font-weight: lighter;
}

.button {
    text-align: center;
    margin-top: 40px;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(248, 179, 13);
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 1px;
}