@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.success{
  margin-top: 100px;
}
.title {
  margin-top: 20px;
  font-weight: bold;
  color: rgb(34, 56, 87);
}
.title p{
  margin-bottom: 1px;
}

.symbol {
  font-size: 150px;
  color: #37b20a;
}

.text p{
  margin-bottom: 5px;
  font-size: 20px;
  color: rgb(34, 56, 87);
  text-align: center;
}

button {
    text-align: center;
    margin-top: 20px;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    background-color: rgb(248, 179, 13);
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}
.btn:hover{
  background-color: gainsboro;
}